parameters:
	ignoreErrors:
		-
			message: '#^Method Knp\\Component\\Pager\\ArgumentAccess\\RequestArgumentAccess\:\:get\(\) never returns bool so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Knp/Component/Pager/ArgumentAccess/RequestArgumentAccess.php

		-
			message: '#^Method Knp\\Component\\Pager\\ArgumentAccess\\RequestArgumentAccess\:\:get\(\) never returns float so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Knp/Component/Pager/ArgumentAccess/RequestArgumentAccess.php

		-
			message: '#^Method Knp\\Component\\Pager\\ArgumentAccess\\RequestArgumentAccess\:\:get\(\) never returns int so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Knp/Component/Pager/ArgumentAccess/RequestArgumentAccess.php
