name: build

on: [push, pull_request]

jobs:
    phpstan:
        runs-on: ubuntu-20.04
        name: PHPStan
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: PHPStan
              uses: docker://oskarstark/phpstan-ga
              env:
                  REQUIRE_DEV: true
                  CHECK_PLATFORM_REQUIREMENTS: false
              with:
                  args: analyse
    cs-fixer:
        runs-on: ubuntu-20.04
        name: PHP-CS-Fixer
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Fix CS
              uses: docker://oskarstark/php-cs-fixer-ga
    tests:
        runs-on: ubuntu-20.04
        strategy:
            matrix:
                php:
                    - '7.3'
                    - '7.4'
                    - '8.0'
                include:
                    - description: 'Lowest'
                      composer_option: '--prefer-lowest'
                    - description: '7.4'
                      php: '7.4'
                    - description: '8.0'
                      php: '8.0'
                      # needed because doctrine/mongodb-odm doesn't support php8 yet 
                      composer_option: '--ignore-platform-reqs'
        name: PHP ${{ matrix.php }} tests (${{ matrix.description }})
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Cache
              uses: actions/cache@v2
              with: 
                  path: ~/.composer/cache/files
                  key: ${{ matrix.php }}-${{ matrix.symfony }}-${{ matrix.composer_option }} 
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: mongodb-stable, pdo_sqlite
            - run: composer update --no-interaction --no-progress --ansi ${{ matrix.composer_option }}
            - run: vendor/bin/phpunit

